In [ ]:
# Homework 1

### Due by 11:59pm on 5 October ( submit within Portfolio )

For each instruction, show your code and execution within the Jupyter Notebook.

## 1. Description of the dataset nnnnnnnn
Give a brief description of your dataset.

Number of rows?

Number of variables?

## 2. Loading and Cleaning
Load the your dataset into a pandas dataframe and have a look at the first 15 rows.

Create a column called "class" and randomly add a "1", "2", or "3" for every row.

e.g.

featueA | Class
--- | ---
9 | 1
5 | 2
7 | 3
6 | 2
3 | 1
6 | 3

Show names of all columns and rename columns as necesary

Show unique attributes for a given features that are stored in the dataset

e.g. featureA [1 2 3]

Create a crosstabulation or contingency table

Get rid of the junk numbering

Create a new dataframe dfsub by taking the list of one column (feature) and using pandas. Apply function to divide all values by 100.

## 2. Quick Intro to Matplotlib
Create a plot that shows two columns (features) plotted against each other (e.g. A vs. B)
Create a histogram of the dataset using a selected column (feature)

Use a more object oriented approach by using the subplots function to set both figure and axis.

Make scatterplots of a selected column "featureA" in the list yfeatureA against the featureA in the list xfeatureA. As the names suggest, plot featureA in yfeatureA along the y featureA and the acids in xfeatureA along the x axis. Label the axes with the respective feature name. Set it up as a grid with 3 rows and 2 columns.

The first concept we deal with here is pandas groupby. Group your dataframe dfsub by the values of a particular factor variable.

The groupby function also acts like an object that can be mapped. After the mapping is complete, the rows are put together (reduced) into a larger dataframe. Apply the describe function.

One may iterate through the groupby 'dictionary'is to get the pandas series from each sub-dataframe, and compute the standard deviation. Apply the std function

Pandas can do general merges. When we do that along an index, it's called a join. Apply to join to two selected columns.

Let's weight the a selected feature content by a random weight. Extract a subset of columns from df and then write a function to weigh the features content by this random weight, delivering a weighted feature mean in the final dataframe.


## 3. One Dimensional Exploratory Data Analysis (EDA) with Pandas

Create a dataframe with just one column or feature.

Make a bar plot of the relative mean percentages

The aforementioned graph get's proportions of all the a selected feature for a specific class. From this, we can ask the opposite question: What's the distribution classes within that column/feature?

Write code to scatterplot a column/reature against another features color coded by the classes in that feature.

Could a linear or nonlinear classifier separate the the classes (1 from 2 or 2 from 3 or 1 from 3)?

Write code to scatterplot a column/feature against a different set of features color coded by the classes in that feature. Select features that this has not been done for.

Apply a linear or nonlinear classifier to the scatter plot and color code the classes.

## 4. Miscellaneous Pandas Plotting tools: scatters, boxplots, and parallel co-ordinates

Write code that will allow you to plot marginals using rug plots and histograms of your dataset

Write code that will allow you to show the probability distributions of your dataset

Write code that will allow you to show parallel coordinates using your dataset

## 5. Portfolio: Pandas Data Manipulation and Plotting tools

Add examples of Pandas using data manipulation and plotting techniques against your dataset in the ToolKit section of your Portfolio.

In [5]:
import pandas as pd

In [6]:

df=pd.read_csv("Data/wdbc.data")
df.head(7)

,842302,M,17.99,10.38,122.8,1001,0.1184,0.2776,0.3001,0.1471,...,25.38,17.33,184.6,2019,0.1622,0.6656,0.7119,0.2654,0.4601,0.1189
0,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
1,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
2,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
3,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678
4,843786,M,12.45,15.70,82.57,477.1,0.12780,0.17000,0.15780,0.08089,...,15.47,23.75,103.40,741.6,0.1791,0.5249,0.5355,0.1741,0.3985,0.12440
5,844359,M,18.25,19.98,119.60,1040.0,0.09463,0.10900,0.11270,0.07400,...,22.88,27.66,153.20,1606.0,0.1442,0.2576,0.3784,0.1932,0.3063,0.08368
6,84458202,M,13.71,20.83,90.20,577.9,0.11890,0.16450,0.09366,0.05985,...,17.06,28.14,110.60,897.0,0.1654,0.3682,0.2678,0.1556,0.3196,0.11510


## How to submit

To submit your assignment, place the assignment in the assignment section of your portfolio and include the link to the Python Jupyter Notebook file and repository by 10/5 at 11:59pm.

---
*css tweaks in this cell*
<style>
div.text_cell_render {
    line-height: 150%;
    font-size: 110%;
    width: 800px;
    margin-left:50px;
    margin-right:auto;
    }
</style>